*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   height: auto;
   width: auto;
   color:white;
   background-color:black;
   font-family: sans-serif;
}

.container{
      display:flex;
      flex-direction:column;
       height:auto;
       width:96%;
       border: 1px solid lawngreen;
       margin-left: auto;
       margin-right: auto;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:0;
    height: 15%;
    width: 100%;
    border: 1px solid lightgreen;
}

nav{
    margin-left: auto;
    width: 25%;
    display: flex;
    justify-content: space-evenly;
}

a{
    color:lawngreen;
    text-decoration: none;
}

a:hover{
    color:white;
}

.hamburger{
    display: none;
}

.hamburger.active{
    color:black;
    margin-right: 0.5rem;
}

.nav-menu{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.bar{
    display: block;
    width: 1.5rem;
    height: 0.2rem;
    margin: 0.3rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
    color: #000000;
}

h1{
    width: 60%;
    margin-right: auto; 
    color: lawngreen;   
}

main{
    display: flex;
    flex-direction: column;
    height:auto;
    width: 100%;
}

.siamese_one{
   height:auto ;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;   
}

.about{
     width: 80%; 
    /* margin:0.5rem auto auto auto; */
    text-align: start; 
}

#prof_pic{
    height: 50%;
    border-radius: 50%;
    width:40%;
    justify-self: center;
}

#one{
    text-align: center;
    color: lawngreen;
}

.siamese_two{
    height:auto ;
    width: 100%;   
    display: flex;
   flex-direction: column;
   align-content: center;
   margin:2.5rem, auto,auto, auto;
}

.skills{
    height: 90%;
    width: 100%;
    text-align: center;
}

#two{
    height: 10%;
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    color: lawngreen;
}

.skill{
    list-style: none;
    margin-top: 0.5rem;
}

.siamese_three{
    height:auto ;
    width: 100%;
    margin-top:1.5rem;  
}

.stacker{
    height:auto;
    display: grid;
    grid-template-columns:repeat( 2,40%);
    gap: 0.6rem;
    justify-content: center;
    margin: auto;
}

.stack{
    border: 1px solid lawngreen;
    padding: 0.6rem;
    text-align: center;
}

#three{
    height:auto;
    text-align: center;
    margin-bottom: 0.8rem;
    color: lawngreen;
}

.siamese_four{
    height:auto;
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#four{
    width: 100%;
    text-align: center;
    height: 15%;
    margin: auto;
    color: lawngreen;
}

.projects{
    display: grid;
    grid-template-columns:repeat( 2,40%);
    height: auto;
    gap: 0.3rem;
    justify-content:space-around;
    margin-top: 1rem;
}

.deployed{
    border: 1px solid white;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2.5rem;   
}

h3{
    height: 5%;
    text-align: center;
    margin:0.5rem auto; 
    color: lawngreen;
}

img{
    height: 40%;   
}

.breakdown{
    height: auto;
    width: 95%;
    font-size:1em;
    margin: 1rem auto 0 auto;
    padding: 1.5rem;
    border: 1px solid lawngreen;
    box-shadow: 2px 2px 2px lawngreen;
}

.tools{
    height: 5%;
    width: 80%;
    font-size:1em;
    margin: 1rem auto 0 auto;
    text-align: center;
    padding: 1rem;
    color: lawngreen;
}

.controls{
    height:auto;
    margin: auto;
    display: flex;
    gap: 0.3rem;   
}

button{
    padding:2rem;
    font-size:1.5rem ;
    cursor: pointer;
}

button:hover{
    background-color: black;
}

footer{
    height: 20%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}

.footer_head{
     width: 100%;
     text-align: center;
     padding: 1rem;
}

.i-container{
    display: flex;
    margin: auto;
    flex-direction: column;
}

i{
    font-size: 2rem;
}

.footer_head{
    color: lawngreen;
}

.i-label{
    color: lawngreen;
}

.actual-links{
    display: flex;
     justify-content: center;
     margin-top: auto;
     padding: 1.5rem;
}


.close-bar{
    display: none;
}

@media (max-width:1115px) {
    h1{
        width:40%;
        margin-right: auto;
    }
    header{
        border: 1px solid white;
    }
}

@media (min-width:1054px) {
    .about{
        text-align: start;
    }
}

@media (max-width:1021px) {
    h1{
        width:45%;
        margin-right: auto;
    }
}

@media (max-width:910px) {
    h1{
        width:50%;
        margin-right: auto;
    }
}

@media (max-width:821px) {
    h1{
        width:55%;
        margin-right: auto;
    }
}

@media (max-width: 748px) {
    .hamburger {
        display: flex; /* Show the hamburger icon */
        flex-direction: column;
        cursor: pointer; /* Change cursor to pointer */
        
    }

    .bar {
        background-color: white; /* Color for the bars */
        transition: all 0.3s ease-in-out; /* Smooth transition */
    }

    .close-bar{
        color:white;
        font-size: 2.5rem;
        cursor:pointer ;
    }

    header{
        display: grid;
        grid-template-rows: 20% 80%;
    
    }

   


    .nav-menu {
        display: none; /* Hide the menu by default */
        flex-direction: column; /* Stack items vertically */
        width: 80%; /* Full width */
        background-color: black; /* Background color for the menu */
        
    }

    .nav-menu.active {
        display: flex; /* Show menu when active */
        flex-direction:column;
        justify-content: space-between;
        background-color:black; 
    
    }


    .nav_links{
        color:white;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); /* Rotate first bar */
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0; /* Hide second bar */
    }

    .hamburger.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px); /* Rotate third bar */
    }
}

@media (max-width:688px) {
    .breakdown{
        font-size:1rem;
    }
    .tools{
        font-size:1rem;
    }
    h1{
        width:65%;
        margin-right: auto;   
    }
}

@media (max-width:636px) {
    h1{
        width:70%;
        margin-right: auto;   
    }

    .breakdown{
        font-size: 0.9rem;
    }
}

@media (max-width:592px) {
    h1{
        width:75%;
        margin-right: auto;   
    }
}

@media (max-width:570px) {
    h1{
        width:80%;
        margin-right: auto;   
    }

    .tools{
      font-size:0.9rem; 
    }

    .breakdown{
        font-size:0.8rem; 
    }
    button{
        padding:1rem;
        font-size:1rem ;
    }
}

@media (max-width:542px) {
    .tools{
        font-size:0.8rem; 
    }

    .breakdown{
        font-size:0.75rem; 
    }
    .about{
        font-size:0.9em ;
    } 
}

@media (max-width:460px) {
    .projects{
        display:flex;
        flex-direction: column;
        height: auto;
        gap: 0.3rem;
        margin-top: 1rem;      
    }
     
    img{
        height: 40%;   
        width: 60%;
        margin: auto;
    }
    .tools{
        width: 85%;
        font-size: 0.8rem;
    }
}

@media (max-width:324px) {
    .about{
        width: 100%;
        font-size: 0.9em;
    }
}
