*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: white ;
    color: white;
    width: 100vw;
    height:100vh;
    font-family: sans-serif;
}


.container{
      width: 90%;
      height: 90%;
      display:flex;
      flex-direction:column;
      margin: auto;
      place-content: center;
}


#demo{
    
    text-align: center;
    font-size: 2rem;
    width: 100%;

}

a{
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
}
h1{
    color:black;
    text-align: center;
    width:100%;
    margin:0 auto;
}
h2{
    
    text-align: center;
    color: whitesmoke;
}
button{
    text-align: center;
    color:white;
    background-color: purple;
    padding: 1.5rem;
}

